@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gilroy', sans-serif;
}

.title{
  color: white;
  font-family: 'Graphik LCG', sans-serif;
  margin-bottom: 30px;
}

.main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222020;
}

.nav-list-program, .nav-list-about {
  padding: 20px;
  color: white;
}

.nav-list-about{
  border: white solid 3px;
}

.nav-list-program{
  background-color: #2f1ce4;
  border: #2f1ce4 solid 3px;
}

a {
  color: inherit;
  text-decoration: none;
}

th, td, table{
  border: 1px solid #000;
}

th,td {
  padding: 5px;
}

table{
  border-collapse: collapse;
}

.container{
  width: 1170px;
  margin: 0 auto;
  padding: 30px 0 30px;
}
 .back-button{
  background-image: url(https://cdn-icons-png.flaticon.com/512/545/545680.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 35px;
  }
  .module-button{
    background-image: url(https://cdn-icons-png.flaticon.com/512/545/545680.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 35px;
}

  .title-about{
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color: #222020;
  }

.titles{
  padding-left: 180px;
  color: #2f1ce4;
  font-size: 36px;
  margin: 100px 0 25px;
}

.program-list{
  padding-left: 200px;
  font-size: 18px;
  margin-bottom: 50px;
}

.text{
  padding-left: 180px;
  margin-bottom: 20px;
}

figure{/* modules */
  padding-left: 180px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;
  text-align: center;
}


.centre{
  width: 1180px;
  margin: 0 auto;   /* отцентровать главный блок */
  padding: 30px 0 500px;
}

.logo{
  font-family: 'Graphik LCG', sans-serif;
  margin-bottom: 30px;
}

.cards{ /* карточки */
  margin: 100px 80px 0px 80px;
  padding: 0;
  list-style-type: none;
  font-size: 0; /* чтобы не было расстояния между */
}


.title-module{
  margin: 100px 0 0 100px;
  font-size: 48px;
  line-height: 56px;
}

.card-1{
  display: inline-block; /* выстроить блоки в ряд */
  margin-right: 56px;
  margin-bottom: 50px;
  vertical-align: middle;
  width: 480px;
  height: 505px;
  background-color: #fff;
  box-shadow:0 0 9px 4px rgb(175, 175, 175);
  position: relative;  /* для дочерних блоков */
}
.right{
  margin-right: 0px; /* убрать маргин у правых карточек */
}

.card-title{
  margin: 25px auto 25px 50px;
  font-size: 36px;
  line-height: 56px;
  color: #2f1ce4;
}
.card-list li{
  /*  список внутри карточки */
  list-style-type: none ;
  margin: 20px auto auto 50px;
  font-size: 16px;
}

.card-number{
  /* Номер карточки в нижнем углу */
  position: absolute;
  height: 36px;
  right: 20px;
  bottom: 20px;
}

.card-2{
  width: 480px;
  height: 505px;
  background-color: rgb(240, 213, 60);
}

.cards ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* карточки */

.more-button{
  text-align: center;
  margin-top: 97px;
}
.more-button button{
  border: 4px solid #2f1ce4;
  background-color: #fff;
  width: 280px;
  height: 80px;
  font-size: 18px;
}
.all{
  background-image:url(../img/background.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}
